* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "SF Pro Text", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

main {
    width: 414px;
    margin: auto;
    height: 896px;
    background: #00b3fe;
}

header {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .status {
    margin-right: 19px;
}

header .time {
    width: 54px;
    height: 18px;
    margin-left: 21px;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding: 0 10px;
}

.xoom {
    display: block;
    margin: 36px auto;
}

h1 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #011947;
    padding: 46px 0;
}

main .body {
    margin-top: 49px;
    height: 705px;
    background: #ffffff;
    border-radius: 50px 0px 0px 0px;
}

form {
    margin: 0 36px;
}

label {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: rgba(1, 25, 71, 0.6);
}

form #user {
    margin: 6px 0 14px;
    width: 342px;
    height: 70px;
    background: rgba(1, 48, 136, 0.03);
    border: 1px solid rgba(1, 48, 136, 0.4);
    border-radius: 12px;
}

form #password {
    margin: 6px 0 16px;
    width: 342px;
    height: 70px;
    border: 1px solid rgba(1, 48, 136, 0.4);
    border-radius: 12px;
}

form a {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: rgba(37, 50, 116, 0.6);
}

form button {
    position: relative;
    margin-top: 16px;
    width: 342px;
    height: 70px;
    background: #00b3fe;
    box-shadow: 0px 15px 25px rgba(0, 179, 254, 0.15);
    border-radius: 12px;
    border: none;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 2px;
    color: #ffffff;
}

form button img {
    position: absolute;
    left: calc(50% - 18.23px / 2 + 119.75px);
    top: calc(50% - 18.23px / 2 + 0.47px);
}

.social {
    margin: 31px 92px 41px;
    display: flex;
    justify-content: space-between;
}

.social div {
    width: 64px;
    height: 64px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 3px 45px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 414px;
    height: 140px;
    background: #013088;
    border-radius: 0px 50px 0px 0px;
}
